.card {
  height: 100%;
  width: 100%;
  transition-property: transform;
  transition-duration: 0.75s;
  -webkit-transition-property: transform;
  -webkit-transition-duration: 0.75s;
}

.cardMedia {
  height: 100%;
  transition-property: background-image;
  transition-duration: 3s;
  -webkit-transition-property: background-image;
  -webkit-transition-duration: 3s;
}

.cardContent {
  padding: 30px;
}

.cardActionContent {
}


